@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.eot") format("eot");
    src: url("../fonts/Vazir.ttf") format("truetype"), url("../fonts/Vazir.woff") format("woff");
}

body {
    font-family: "vazir";
    text-align: right;
    overflow-x: hidden;
}

.dropdown-menu.show {
    text-align: right;
}

.skill-item,
.navbar-brand {
    font-family: cursive;
}
